<!DOCTYPE html>
<html>
    <head>
        <script src="http://zor.fyre.co/wjs/v3.0/javascripts/livefyre.js"></script>
    </head>
    <body>
        <script>
            var lf_config = [{
                "signed": false,
                "siteId": "{siteId}",
                "articleId": "{articleId}",
                "bsMode": true,
                "el": "bs",
                "app": "{app}"
            }];
            
            var conv = fyre.conv.load({
                "networkId": "{networkId}"
            }, lf_config);
        </script>
        <div id="bs">
            <script>
                (function() {
                var p=document;var r="header hgroup footer article section aside nav figure figcaption embed audio video canvas details summary time mark".split(" "),s=p.createDocumentFragment(),t;for(t=0; t<r.length; t++){s.appendChild(p.createElement(r[t]))};
                })();
            </script>
        </div>
    </body>
</html>
